#root[data-theme="light"]{
    --contacts-body-color:#FFFFFF;
    --contacts-header-color:#FFFFFF;
    --contacts-input-color:#FFFFFF;
    --contacts-hover-color:#D1D1D1;
    --contacts-username-color:#383838;
    --contacts-header-icon:#959595;
    --contacts-right-color:#959595;
}
#root[data-theme="dark"]{
    --contacts-body-color:#111b21;
    --contacts-header-color:#202c33;
    --contacts-input-color:#2a3942;
    --contacts-hover-color:#202c33;
    --contacts-username-color:#FFFFFF;
    --contacts-header-icon:#FFFFFF;
    --contacts-right-color:#959595;

}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.contacts-main{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--contacts-body-color);
    &>div.contacts-main-left{
        width: 25%;
        height: 968px;
        border-right: 1px solid #ECECEC;        
        &>div.contacts-main-left-header{
            // @include size(6%, rgb(240, 240, 240));
            background-color: var(--contacts-header-color);
            display: flex;
            align-items: center;  
            height: 68px;
            padding-left: 7px;
            &>*{
                margin: 5px;
            }  
            &>div:nth-child(1){
                height: 60%;
                display: flex;
                align-items: center;
                &>button{
                    display: flex;
                    align-items: center;
                    background-color: transparent;
                    border: none;
                    &>span.zz{
                        border: 1px solid red;
                    }
                    &>div{
                        color: var(--contacts-header-icon);
                    }
                }
            } 
            &>div:nth-child(2){
                width: 90%;
                height: 60%;
                position: relative;
                &>input{
                    width: 100%;
                    height: 100%;
                    border: none;
                    border: 1px solid #B7B7B7;
                    border-radius: 5px;
                    outline: none;
                    color:var(--contacts-right-color);
                    background-color: var(--contacts-input-color);
                    box-sizing: border-box;
                    padding-left: 10px;
                    padding-right: 40px;
                }
                &>button{
                    position: absolute;
                    height: 91%;
                    width: 10%;
                    right: 0px;
                    border: none;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    bottom: 1.8px;
                    background-color: transparent;
                    &>span{
                        color: var(--contacts-username-color);
                    }
                }
            }                                          
        } 
        &>div.contacts-main-left-body{
            height: 820px;
            position: relative;
            &>div:nth-child(1){
                position: absolute;
                width: 100%;
                left: 0%;
                height: 100%;
                &>div.contacts-main-left-body-main-menu{
                    width: 100%;
                    height: 100%;
                    &>div.contacts-main-left-body-top{
                        height: 50%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        overflow: scroll;    
                        &>a:hover{
                            background-color: var(--contacts-hover-color);
                        }            
                        &>a{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            height: 72px;
                            padding: 8px 12px;
                            gap: 12px;   
                            text-decoration: none;
                            &>div:nth-child(1){
                                width: 79px;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                flex-direction: column;
                                gap: 4px;
                                &>span{
                                    width: 66px;
                                    height: 12px;
                                    font-family: 'Inter' sans-serif;
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 10px;
                                    line-height: 12px;
                                    color: #B7B7B7;                            
                                }
                                &>i{
                                    font-size: 28px;
                                    color:#FFD96C;
                                }
                            }  
                            &>div:nth-child(2),div:nth-child(4){
                                height: 100%;
                                border: 1px solid #EFEFEF;
                            }
                            &>div:nth-child(3){
                                display: flex;
                                // flex-direction: row;
                                align-items: center;
                                justify-content: center;
                                padding: 0px;
                                gap: 8px;                        
                                width: 213px;   
                                &>img{
                                    width: 56px;
                                    height: 56px;
                                    border-radius: 100px;                            
                                }   
                                &>span{
                                    width: 149px;
                                    height: 24px;
                                    font-family: 'Inter' sans-serif;
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 16px;
                                    line-height: 24px;           
                                    color: var(--contacts-username-color);                            
                                }                  
                            } 
                            &>div:nth-child(5){
                                width: 79px;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                display: flex;
                                align-items: center;
                                flex-direction: column;
                                gap: 4px;
                                &>span{
                                    width: 70px;
                                    height: 12px;
                                    font-family: 'Inter' sans-serif;
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 10px;
                                    line-height: 12px;
                                    color: #B7B7B7;                            
                                }
                                &>i{
                                    font-size: 28px;
                                    color: #73E473;;
                                }
                            }                                  
                        }              
                    }
                    &>div.contacts-main-left-body-bottom{
                        height: 50%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;  
                        overflow: scroll; 
                        &>div:nth-child(1){
                            display: flex;
                            flex-direction: row;
                            align-items: flex-start;
                            padding: 16px;
                            gap: 10px;                    
                            width: 100%;
                            height: 56px;
                            background: var(--contacts-header-color);      
                            &>span{
                                font-family: 'Inter' sans-serif;
                                font-style: normal;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 24px;
                                color: #959595;                        
                            }                         
                        } 
                        &>div:nth-child(2){
                            &>div:hover{
                                background-color: var(--contacts-hover-color);
                            }
                            &>div{
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: center;
                                padding: 8px 16px;
                                gap: 171px;                        
                                width: 100%;
                                height: 72px;  
                                &>div:nth-child(1){
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    padding: 0px;
                                    gap: 8px;                            
                                    width: 240px; 
                                    &>img{
                                        width: 56px;
                                        height: 56px;
                                        border-radius: 100px;                             
                                    }   
                                    &>span{
                                        width: 155px;
                                        height: 24px;
                                        font-family: 'Inter' sans-serif;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 16px;
                                        line-height: 24px;
                                        color: var(--contacts-username-color);  
                                        overflow: hidden;                              
                                    }                     
                                } 
                                &>div:nth-child(2){
                                    width: 60px;
                                    height: 100%;
                                    display: flex;
                                    align-items: center;
                                    &>button{
                                        border: none;
                                        background: transparent;
                                        font-family: 'Inter' sans-serif;
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 16px;
                                        line-height: 24px;
                                        color: #1A9CFF;                                
                                    }
                                }                     
                            }
                        }        
                    }   
                }  
            } 
            &>div:nth-child(2){
                position: absolute;
                width: 100%;
                height: 100%;
                left: -100%;
            }            
        }     
    }
    &>div.contacts-main-right{
        width: 75%;
        background-color: rgb(240, 240, 240);
        &>div.messages{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            >div.head{
                border: 1px solid red;
                height: 6%;
                width: 100%;
                display: flex;
                background-color: white;
                padding: 0 10px;
                >div.left{
                    flex-grow: 1;
                    display: flex;
                    div.image-div{
                        // border: 1px solid red;
                        width: 5%;
                        padding: 5px;
                        display: flex;
                        align-items: center;
                        >div.image{
                            border-radius: 50%;
                            height: 38px;
                            width: 38px;
                            background-image: url('../images/user1.jpeg');
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: top;
                        }
                    }
                    div.about{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        >*{
                            // border: 1px solid red;
                            margin: 2px;
                        }
                        >div.username{
                            font-size: 13px;
                            // font-weight: bold;
                        }
                        >div.date-ago{
                            font-size: 12px;
                            color: #959595;
                        }
                    }
                }
                >div.right{
                    display: flex;
                    align-items: center;
                    >div{
                        margin: 15px;
                        cursor: pointer;
                        &:hover{
                            color: #356CD2;
                        }
                    }
                }
            }
            >div.main{
                width: 100%;
                height: 94%;
                display: flex;
                justify-content: center;
                background-image: url('../images/back.png');
                background-repeat: repeat;
                >div.all-messages{
                    width: 70%;
                    position: relative;

                    >div.read-messages{
                        height: 88%;
                        overflow: scroll;
                        padding: 0 10px;
                        >*{
                            font-size: 13px;
                            color: rgb(50, 50, 50);
                            display: flex;
                            >div{
                                width: max-content;
                                max-width: 50%;
                                margin: 5px;
                                padding: 10px;
                                border-radius: 10px;
                            }
                        }
                        >div.my-message{
                            justify-content: right;
                            >div{
                                background-color: #F1F9FF;

                            }
                        }
                        >div.target-message{
                            >div{
                                background-color: white;
                            }
                        }
                    }
                    >div.write-messages{
                        height: 10%;
                        display: flex;
                        align-items: center;
                        width: 100%;
                        position: absolute;
                        bottom: 20px;
                        >*{
                            display: block;
                            padding: 10px;
                            margin: 5px;
                        }
                        >textarea{
                            width: 100%;
                            height: 40px;
                            resize: none;
                            border-radius: 10px;
                            border: none;
                        }
                        
                        >i{
                            background-color: #356CD2;
                            color: white;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 50px;
                            height: 45px;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }        
    }
}