*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.group-main{
    width: 100%;
    height: 100%;
    border: 1px solid blue;
    display: flex;
    &>div.group-main-left{
        width: 25%;
        background: #f2f1f6;
        height: 100%;
    }
    &>div.group-main-right{
        width: 75%;
        height: 100%;
        background: #f2f1f6;
        display: flex;
        align-items: center;
        justify-content: center;   
        &>div.group-main-right-center{
            height: 431px;
            width: 538px;  
            &>div.group-main-right-center-image{
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0px;
                width: 100%;
                height: 272.61px;     
                display: flex;  
                justify-content: center;  
                &>img{
                    width: 460px;
                    height: 100%;                    
                }                 
            }
            &>div.group-main-right-center-text{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0px;
                gap: 16px;
                margin-top: 48px;
                width: 538px;
                height: 108px;
                &>div:nth-child(1){
                    width: 257px;
                    height: 44px;
                    
                    /* Heading/H2/Medium */
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 36px;
                    line-height: 44px;
                    
                    /* identical to box height, or 122% */
                    text-align: center;
                    
                    /* Neutral/700 */
                    color: #383838;                    
                }              
                &>div:nth-child(2){
                    width: 538px;
                    height: 48px;
                    
                    /* Body/Subtitle 2/Regular */
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;                    
                    /* or 150% */
                    text-align: center;
                    
                    /* Neutral/300 */
                    color: #959595;                                        
                }                
            }          
        }     
    }
}


/*Groups_Menu Design/////////////////////////////////////////////*/
.group-menu{
    height: 967px;
    position: absolute;
    width: 25%;
    border-right: 1px solid #EFEFEF;  
    &>div.group-menu-header{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px 16px;
        gap:8px;
        height: 68px;
        
        /* Primary/950 */
        background: #356CD2;  
        &>div.group-menu-go-back-icon{
            width: 28px;
            height: 100%; 
            display: flex;
            align-items: center;
            &>a{
                // border: 1px solid black;
                width: 28px;
                height: 28px;
                display: flex;
                align-items: center;
                text-decoration: none;
                &>i{
                    font-size: 24px;
                    color: #FFFFFF;
                }
            }                     
        }
        &>div.group-menu-go-back-text{
            width: 100px;
            height: 28px;
            /* Body/Subtitle 1/SemiBold */
            font-family: 'Inter' sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;            
            /* identical to box height, or 156% */
            
            /* Solid/White */
            color: #FFFFFF;               
        }                
    }
    &>div.group-menu-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        // gap: 68px;
        
        position: absolute;
        width: 100%;
        height: 546px;
        left: 0px;
        // top: 60px;
        
        /* Solid/White */
        background: #FFFFFF;   
        &>div.group-menu-body-image{
            height: 250px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            &>div{
                width: 200px;
                height: 200px;
                position: relative;
                &>img{
                    width: 100%;
                    height: 100%;
                    border-radius: 90%;
                }
                &>label{
                    top: 140px;
                    right: 10px;
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    background: #356CD2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &>input{
                        display: none;
                    }
                    &>span{
                        color: #FFFFFF;
                    }
                }
            }
            
        }
        &>div.group-menu-body-bottom{
            height: 296px;
            width: 100%;
            position: relative;           
            &>div:nth-child(1){
                width: 100%;
                height: 60px;
                display: flex;
                padding: 0px 16px;
                &>input{
                    height: 100%;
                    width: 100%;
                    border: none;
                    border-bottom: 2px solid #EFEFEF;
                    outline: none;
                }
                &>button{
                    position: absolute;
                    right: 10px;
                    height: 60px;
                    width: 10%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    background: transparent;
                    &>span{
                        color: #959595;
                        font-size: 30px;
                    }
                }
            }
            &>div:nth-child(2){
                display: flex;
                flex-direction: column;
                height: 60px;
                padding: 0px 16px;
                margin-top: 60px;
                &>label{
                    width: 161px;
                    height: 20px;
                    
                    /* Body/Subtitle 3/Medium */
                    font-family: 'Inter' sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    
                    /* identical to box height, or 143% */
                    
                    /* Neutral/800 */
                    color: #262626;
                }
                &>div{
                    margin-top: 10px;
                    position: relative;
                    display: flex;
                    &>span{
                        width: 346px;
                        height: 24px;
                        
                        /* Body/Subtitle 2/Medium */
                        font-family: 'Inter' sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        
                        /* identical to box height, or 150% */
                        
                        /* Neutral/300 */
                        color: #959595;                        
                    }
                    &>div{
                        display: flex;
                        align-items: center;
                        position: absolute;
                        right: 10px;
                        &>label{
                            position: relative;
                            display: inline-block;
                            width: 36px;
                            height: 20px;
                            &>input{
                                opacity: 0px;
                                width: 0px;
                                height: 0px;
                            }
                            &>span{
                                position: absolute;
                                cursor: pointer;
                                top: 0px;
                                left: 0px;
                                right: 0px;
                                bottom: 0px;
                                background-color: #ccc;
                                -webkit-transition: .4s;
                                transition: .4s;
                                border-radius: 100px;
                            }
                            &>span:before{
                                position: absolute;
                                content: "";
                                height: 16px;
                                width: 16px;
                                left: 2px;
                                bottom: 2px;
                                background-color: white;
                                -webkit-transition: .4s;
                                transition: .4s; 
                                border-radius: 50%;                               
                            }
                            &>input:checked + span{
                                background-color: #2196F3;
                            }
                            &>input:focus + span{
                                box-shadow: 0 0 1px #2196F3;                                
                            }
                            input:checked + span:before {
                                -webkit-transform: translateX(16px);
                                -ms-transform: translateX(16px);
                                transform: translateX(16px);
                            }                            
                        }
                    }
                }
            }
        }             
    }
}