@mixin size($height, $color){
    height: $height;
    border: 1px solid $color;
}
#root[data-theme="light"]{
    --body-color:#FFFFFF;
    --main-link-hover:#F5F6F6;
    --main-link-active:#f0f2f5;
    --main-header-color:#FFFFFF;
    --dark-mode-text-username:rgb(50, 50, 50);
    --mesage-component-top-text:#959595;
    --tab-menu-icon-color: rgb(50, 50, 50);
    --tab-menu-icon-color-active-background-color:#D2ECFF;
    --main-icon-color:#959595;
    --main-message-input-background:#FFFFFF;
    --main-message-input-text-color:black;
    --card-left-header-icon:black;
    --main-left-search-menu-body-header-color:rgb(50, 50, 50);
    --main-left-header-icon-hover:rgb(228, 235, 235);
}

#root[data-theme="dark"]{
    --body-color:#111b21;
    --main-link-hover:#202c33;
    --main-link-active:#2a3942;
    --dark-mode-text-username:#FFFFFF; 
    --mesage-component-top-text:#959595;   
    --main-header-color:#202c33;
    --tab-menu-icon-color:#FFFFFF;
    --tab-menu-icon-color-active-background-color:#FFFFFF;
    --main-icon-color:#FFFFFF;
    --main-message-input-background:#2a3942;
    --main-message-input-text-color:#E1E1E1;
    --card-left-header-icon:#FFFFFF;
    --main-left-search-menu-body-header-color:#aaaaaa;
    --main-left-header-icon-hover:rgb(50, 50, 50);
}
.main{
    height: 100%;
}

.general-main{
    height: 100%;
    width: 100%;
    background-color: var(--body-color);
    &>div.general-main-outlet{
        width: 100%;
        height: 100%;
        background-color: var(--body-color);
    }
    &>div.general-main-absolute-menu{
        @include size(8%, white);
        background-color: var(--body-background);
        border-top: 1px solid rgb(240, 240, 240);
        display: flex;
        width: 25%;
        border-right: 1px solid #ECECEC;
        position: absolute;
        bottom: 2px;
        >a{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20%;
            font-size: 20px;
            color: var(--body-color);
            text-decoration: none;
            // border: 1px solid red;
            &>span{
                padding: 15px;
                border-radius: 10px;
                color: var(--tab-menu-icon-color);
                cursor: pointer;
                
                &:hover{
                    background-color: var(--tab-menu-icon-color-active-background-color);
                    color:rgb(100, 100, 100);
                }
            }
        }
        &>a.active{
            &>span{
                background-color: var(--tab-menu-icon-color-active-background-color);
                color:#356CD2;
            }
        }        
    }
}

.enterance{
    background-color: var(--body-color);
    height: 100%;
    display: flex;
    >div.left{
        width: 25%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-right: 1px solid rgb(230, 230, 230);
        background-color:var(--body-color);
        >div.header{
          @include size(6%, rgb(240, 240, 240));  
          border-right: none;        
          display: flex;
          align-items: center;
          background-color:var(--main-header-color);
          >*{
            margin: 5px;
          }
          &>button.button{            
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;            
            color:var(--main-icon-color);
            border: none;
            background: transparent;
          }
          &>button.button:hover{
            cursor: pointer;
            border-radius: 100%;
            background-color: var(--main-left-header-icon-hover);
          }
          &>div:nth-child(2){
            width: 90%;
            position: relative;
            &>input{
                outline: none;
                width: 100%;
                flex-grow: 1;
                padding: 7px;
                border:none;
                border: 1px solid #E1E1E1;
                border-radius: 5px;
                box-sizing: border-box;
                padding-left: 45px;
            }
            &>button{
                width: 40px;
                position: absolute;
                left: 0px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                border: none;
                height: 100%;
                &>span{
                    color: #959595;
                }                
            }
        } 
        }
        // messages and contact
        >div::-webkit-scrollbar{
            width: 2px;
            background-color: #356CD2;
        }
        >div::-webkit-scrollbar-thumb{
            height: 10px;
            width: 2px;
            background-color: #D2ECFF;
        }
        &>div.enterance-body{
            text-decoration: none;
            height: 85%;
            position: relative;
            &>div:nth-child(1){
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 1;
                &>div.messages{ 
                    overflow-x: hidden;
                    overflow-y: scroll;
                    height: 100%;
                    width: 100%;
                    a{
                        display: block;
                        width: 100%;
                        text-decoration: none;
                        color: rgb(50, 50, 50);
                        height: max-content;
                        padding: 8px 10px;
                        border-bottom: 0.5px solid rgb(240, 240, 240);
                        div.message-div{
                            display: flex;
                            height: 50px;
                            >*{
                            }
                            >div.left{
                                display: flex;
                                align-items: center;
                                >div.image{
                                    display: block;
                                    width: 50px;
                                    height: 50px;
                                    border-radius: 50%;
                                    background-image: url('../images/user1.jpeg');
                                    background-position:top;
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                }
                            }
                            >div.center{
                                flex-grow: 1;
                                padding-left: 10px;
                            >*{
                            }
                            >.username{
                                    font-size: 15px;
                                    color: var(--dark-mode-text-username);
                            }
                            >.last-message{
                                    font-size: 13px;
                                    color: rgb(150, 150, 150);
                                    padding-top: 10px;
                                    text-overflow:ellipsis;
                                    overflow: hidden; 
                                    width: 200px; 
                                    white-space: nowrap;
                                    >i{
                                        color: #356CD2;
                                }
                            }
                            }
                            >div.right{
                                flex-basis: 10%;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                >.date{
                                    font-size: 13px;
                                    color: rgb(100, 100, 100);
                                }
                                >.messages{
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 20px;
                                    height: 20px;
                                    font-size: 11px;
                                    color: #565656;
                                    margin-top: 13px;
                                    padding: 2px 4px;
                                    border-radius: 10px;
                                    background-color: #356CD2;
                                    color: white;
                                }
                            }
                        }
                    }
                    &>a:hover{
                        background-color: var(--main-link-hover);
                    } 
                    &>a.active{
                        background-color: var(--main-link-active);
                    }  
                }  
            }    
            &>div:nth-child(2){ 
                position: absolute;
                width: 100%;
                height: 100%;
                left: -100%;
                &>div.search-menu{
                    height: 100%;
                    width: 100%;
                    left: -100%;
                    &>div.search-menu-header{
                        width: 100%;
                        height: 5%;
                        border-bottom: 1px solid black;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        overflow-y: hidden;
                        overflow-x: scroll;
                        &>button{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            width:90px;
                            height: 100%;
                            font-size: 1em;
                            font-family: 'Inter', sans-serif;
                            border: none;
                            background-color: transparent;
                            color:var(--main-left-search-menu-body-header-color);
                            position: relative;
                            &>span:nth-child(1){
                                font-weight: 800;
                            }
                            &>span:nth-child(2){
                                width: 40px;
                                position: absolute;
                                bottom: 0px;
                                left:20%;
                            }
                        }
                        &>button.active{
                            color:#8774e1;
                            &>span:nth-child(2){
                            border: 2px solid #8774e1; 
                            border-top-left-radius: 5px;
                            border-top-right-radius: 5px;
                            }
                        }
                        &>button:hover{
                            background-color: #744949;
                            line-height: 50px;
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                        }
                    }
                    &>div.search-menu-body{
                        height: 80%;
                        overflow-x: hidden;
                        overflow-y: scroll;
                    }
                }
            }                
        }       
        >div.footer{                                    /* menu secimi olan hisse */
            @include size(8%, white);
            border-top: 1px solid rgb(240, 240, 240);
            display: flex;
            >a{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20%;
                font-size: 20px;
                color: black;
                text-decoration: none;
                &>span{
                    padding: 15px;
                    border-radius: 10px;
                    color: rgb(50, 50, 50);
                    cursor: pointer;
                    &:hover{
                        background-color: #D2ECFF;
                    }
                }
            }
            &>a.active{
                &>span{
                    background-color: #D2ECFF;
                    color:#356CD2;
                }
            }
        }
    }
    >div.right{
        width: 75%;
        background-color: rgb(240, 240, 240);
        >div.welecome{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: var(--body-color);
            >*{
                display: flex;
                justify-content: center;
                width: 50%;
                margin: 5px;
            }
            >h1.welecome{
                color: rgb(100, 100, 100);
            }
            >div.desc{
                color: rgb(130, 130, 130);
            }
            >i{
                background-color: transparent;
                font-size: 200px;
                color: #356CD2;
            }
        }
        >div.messages{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: var(--body-color);
            >div.head{
                height: 6%;
                width: 100%;
                display: flex;
                padding: 0 10px;
                background-color: var(--main-header-color);
                border-bottom: 1px solid #E1E1E1;
                >div.left{
                    flex-grow: 1;
                    display: flex;
                    div.image-div{
                        width: 5%;
                        padding: 5px;
                        display: flex;
                        align-items: center;
                        >div.image{
                            border-radius: 50%;
                            height: 38px;
                            width: 38px;
                            background-image: url('../images/user1.jpeg');
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: top;
                        }
                    }
                    div.about{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        >*{
                            // border: 1px solid red;
                            margin: 2px;
                        }
                        >div.username{
                            font-size: 13px;
                            color:var(--dark-mode-text-username)
                        }
                        >div.date-ago{
                            font-size: 12px;
                            color: var(--mesage-component-top-text);
                        }
                    }
                }
                >div.right{
                    display: flex;
                    align-items: center;
                    color: var(--mesage-component-top-text);
                    >div{
                        margin: 15px;
                        cursor: pointer;
                        &:hover{
                            color: #356CD2;
                        }
                    }
                }
            }
            >div.main{
                width: 100%;
                height: 94%;
                display: flex;
                justify-content: center;
                // background-image: url('../images/back.png');
                background-repeat: repeat;
                position: relative;
                &>div:nth-child(1){
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background:var(--image);
                    filter:contrast(70%);
                    filter: brightness(40%);
                }
                >div.all-messages{
                    width: 70%;
                    position: relative;

                    >div.read-messages{
                        height: 88%;
                        overflow: scroll;
                        padding: 0 10px;
                        >*{
                            font-size: 13px;
                            color: rgb(50, 50, 50);
                            display: flex;
                            >div{
                                width: max-content;
                                max-width: 50%;
                                margin: 5px;
                                padding: 10px;
                                border-radius: 10px;
                            }
                        }
                        >div.my-message{
                            justify-content: right;
                            >div{
                                background-color: #F1F9FF;

                            }
                        }
                        >div.target-message{
                            >div{
                                background-color: white;
                            }
                        }
                    }
                    >div.write-messages{
                        height: 10%;
                        display: flex;
                        align-items: center;
                        width: 100%;
                        position: absolute;
                        bottom: 20px;
                        border: 1px solid red;
                        >*{
                            display: block;
                            padding: 10px;
                            margin: 5px;
                        }
                        &>div:nth-child(1){
                            width: 100%;
                            position: relative;
                            display: flex;
                            border: 1px solid blue;
                            min-height: 56px;
                            &>textarea{
                                position: absolute;
                                bottom: 0;
                                outline: none;
                                width: 90%;
                                min-height: 56px;
                                max-height: 200px;
                                font-size: 16px;
                                resize:none;
                                border-radius: 10px;
                                border: none;
                                box-sizing: border-box;
                                padding-left:10px;
                                padding-top: 17px;
                                background-color:var(--main-message-input-background);
                                color:var(--main-message-input-text-color);                            
                            }
                            &>textarea:is(:focus,:valid){
                                border: 1px solid red;
                            }
                            &>button{
                                height: 38px;
                                width: 60px;
                                right: 11px;
                                bottom: 11px;
                                border: none;
                                border-top-right-radius: 10px;
                                border-bottom-right-radius: 10px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                position: absolute;
                                &>span{
                                    // right: 20px;
                                    // top: 18px;
                                    transform: rotate(45deg);
                                }                                
                            }
                        }
                        &>div:nth-child(2){
                            position: absolute;
                            right: 70px;
                            width: 62px;
                            display: flex;
                            flex-direction: column;
                            bottom: 85px;
                            height: 250px;
                            &>div:nth-child(1){
                                position: absolute;
                                display: flex;
                                flex-direction: column;
                                height: 0px;
                                right: 20px;
                                gap: 10px;                            
                                overflow: hidden;
                                right: 4px;
                                bottom: 0px;
                                &>label{
                                    padding: 15px;
                                }
                                &>label:nth-child(1){
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 50px;
                                    height: 50px;
                                    border-radius: 100%;
                                    background: #bf59cf;
                                    &>span{
                                        color: #FFFFFF;
                                    }
                                    input{
                                        display: none;
                                    }
                                }
                                &>label:nth-child(2){
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 50px;
                                    height: 50px;
                                    border-radius: 100px;
                                    background: #d3396d;
                                    &>span{
                                        color: #FFFFFF;
                                    }
                                    input{
                                        display: none;
                                    }
                                }
                                &>label:nth-child(3){
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 50px;
                                    height: 50px;
                                    border-radius: 100%;
                                    background:#5f66cd;
                                    &>span{
                                        color: #FFFFFF;
                                    }
                                    input{
                                        display: none;
                                    }
                                }
                            }                            
                        }   
                        &>div.slide-up{
                            &>div:nth-child(1){
                                height: 240px;
                                width: 90%;
                                // transform-origin: left bottom 200px;
                                // transform: scale(1);
                                transition: height 3s;
                            }
                        } 
                        &>div.slide-down{
                            &>div:nth-child(1){
                                height: 0px;
                                width: 90%;
                                transition: height 3s;
                            }
                        }                        
                        >span{
                            background-color: #356CD2;
                            color: white;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 50px;
                            height: 45px;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px){
    .main{
        >div.left{
            width: 55%;
            height: 100%;
            position: absolute;
            z-index: 1;
            >div.footer{
                background-color: white;
            }
        }
        >div.right{
            width: 100%;
        }
    }
}

@media screen and (max-width: 500px){
    .main{
        >div.left{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
        }
        >div.right{
            width: 100%;
        }
    }
}
